apiVersion: v1
baseDomain: <BASE_DOMAIN>
metadata:
  name: ocp-primary
controlPlane:
  name: master
  replicas: 3
  platform:
    aws:
      type: m5.2xlarge
compute:
  - name: worker
    replicas: 2
    platform:
      aws:
        type: m8i.4xlarge
networking:
  clusterNetwork:
    - cidr: 10.132.0.0/14
      hostPrefix: 23
  machineNetwork:
    - cidr: 10.1.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.31.0.0/16
platform:
  aws:
    region: eu-central-1
    userTags:
      project: ValidatedPatterns
      owner: <OWNER>
      environment: <ENVIRONMENT> # e.g. dev
publish: External

# Secrets (do not commit real values)
sshKey: "<SSH_PUBLIC_KEY>"
pullSecret: '<PULL_SECRET_JSON>'

